h1 {
    text-align: center;
}

body, html {
    height: 100%
}

#boxOne{
    text-align: center;
}

#boxTwo{
    float: right;
}

#boxThree{
    float: left;
}

#boxFour{
    text-align: center;
    clear:both;
}